@import "tailwindcss";

/* Box-sizing reset and default smooth scroll */
*, *::before, *::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/* Root-level base styles */
:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Body reset & layout */
body {
	margin: 0;
	padding: 0;
 	overflow-x: hidden;
	min-width: 100vw;
	min-height: 100vh;
	background: #000;
}

/* Typography */
h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

/* Button focus styles */
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}